
.projects {
     text-align: center;
  padding: 80px 20px;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
 
}

.projects-container {
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(calc(50% - 3rem), 1fr));
align-items: stretch;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem auto;
}

.add-new-btn {
 margin: 0rem 2rem;
    display: flex;
    justify-content: flex-end;
    transform: translateY(40px);
}
.admin-btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.project-card {
 background-color: rgb(var(--card));
      border-radius: 10px;
  padding: 2rem;
  transition: all 0.3s ease, box-shadow 0.3s ease;
      border: 2px solid var(--border);
      min-width: 350px;
      min-height: 200px;
      position: relative;
      text-align: justify;
}

.project-card:hover {
   border: 2px solid var(--text-tertiary);
}

.link-container {
   display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}

.link-icon {
padding: 8px;
border: 2px solid var(--border);
border-radius: 10px;
line-height: 1;
cursor: pointer;
background-color: rgb(var(--background))
}

.link-icon svg {
  height: 20px;
  width: 20px;
  transition: color 0.3s;
}

.link-icon:hover {
  color: var(--text-tertiary);
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(var(--secondary), 0.2) 0px 0px 20px 0px;
}
.project-title {
        font-weight: 600;
        margin-top: 1rem;
}
.project-description {
  color: var(--text-secondary);
}

.skills {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.skill-badge {
       border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    color: var(--text-secondary);
    border: 1px solid var(--border);
    font-weight: 500;
background-color: rgba(var(--background-secondary), 0.5);
    font-size: 0.875rem;
line-height: 1;
}

.admin-buttons {
  margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

/* Modal */

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 80%;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-align: left;
}
.published-label {
  font-weight: 600;
  line-height: 1.5;
  margin-right: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 0.65rem 0.9rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  transition: all 0.2s ease;
  background-color: rgba(var(--background-secondary), 0.5);
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  color: var(--text-primary);
}

.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid rgb(var(--primary));
  outline: none;
}

textarea {
  resize: none;
}

.radio-group {
  display: flex;
  gap: 0.5rem;
}

.radio-group input:focus, .radio-group input:focus-visible {
  outline: none;
}

.skills-wrapper {
  padding: 0.65rem 0.9rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    transition: all 0.2s ease;
    background-color: rgba(var(--background-secondary), 0.5);
    font-family: "Segoe UI", sans-serif;
    font-size: 1rem;
    color: var(--text-primary);
    display: flex;
    flex-wrap: wrap;
}
.chip-input {
  /* flex-grow: 1; */
    text-align: left;
}
.chip-input input{
   border: none;
  outline: none;
  padding: 0 2px;
  width: 100%;
  background: inherit;
  max-width: 100px;
}
.chip-input input:focus {
  border: none;
  outline: none;
}
.chip {
  border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    color: var(--text-primary);
    border: 1px solid var(--border);
    font-weight: 500;
    background-color: rgba(var(--card), 1);
    font-size: 0.875rem;
    line-height: 1;
}
.chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}


/* Responsive Design */

@media screen and (max-width: 1024px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .projects-container {
    padding: 1rem 0;
  }
  .project-card {
    padding: 1rem;
    min-width: 0;
  }
  .add-new-btn {
    justify-content: center;
  }
  .skills {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .admin-buttons {
    flex-direction: column;
  }
  .add-new-btn {
    margin: 0 0.5rem;
  }
}